{{!-- <div col>{{forename}} {{surname}}</div>
<div col>{{email}}</div>
<div col>{{verified}}</div> --}}
<div cell>{{forename}} {{surname}}</div>
<div cell>{{email}}</div>
<div cell>{{verified}}</div>
  
